<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" transferMode="Streamed"
                  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
           maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode ="None"></security>
        </binding>
      </netTcpBinding>

    </bindings>
    <client>
      <endpoint address="net.Tcp://172.16.10.44:8322/LabelPrinting/LabelPrintingService/" binding="netTcpBinding" 
                bindingConfiguration="netTcpBindingConfiguration" contract="ILabelPrintingService">
      </endpoint>
    </client>


  </system.serviceModel>

  <!--<startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="BTFilePath" value="C:\BTFiles"/>
  </appSettings>

</configuration>
