<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" transferMode="Streamed" maxBufferSize="655360" maxReceivedMessageSize="655360" openTimeout="12:00:00" receiveTimeout="12:00:00" closeTimeout="12:00:00" sendTimeout="12:00:00">
          <readerQuotas maxDepth="655360" maxStringContentLength="655360" maxArrayLength="655360" maxBytesPerRead="655360" maxNameTableCharCount="655360"/>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>

    </bindings>
    <client>
      <endpoint address="net.Tcp://localhost:8322/LabelPrinting/LabelPrintingService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="LabelPrinting.ILabelPrintingService">
      </endpoint>
    </client>


  </system.serviceModel>

  <!--<startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>


</configuration>
