<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true"/>

  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <services>
      <service name="LabelPrinting.LabelPrintingService" behaviorConfiguration="LabelPrintingBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="LabelPrinting.ILabelPrintingService">
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="net.Tcp://172.16.10.46:8322/LabelPrinting/LabelPrintingService/"/>
          </baseAddresses>
        </host>

        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>


      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="LabelPrintingBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" maxBufferSize="655360" maxReceivedMessageSize="655360" transferMode="Streamed" openTimeout="12:00:00" receiveTimeout="12:00:00" closeTimeout="12:00:00" sendTimeout="12:00:00">
          <readerQuotas maxDepth="655360" maxStringContentLength="655360" maxArrayLength="655360" maxBytesPerRead="655360" maxNameTableCharCount="655360"/>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>


  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%Property%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

  <appSettings>
    <add key="BTFilePath" value="C:\BTFiles"/>
  </appSettings>
</configuration>
